#NODE ENV
NODE_ENV=local

#CORS Configuration
ALLOWED_ORIGINS=*

#DB-LOCAL
DB_USER=root
DB_PASS=
DB_NAME=rti_compro
DB_HOST=127.0.0.1
DB_PORT=3306
DB_CONNECTION=mysql
DB_SSL=false

#S3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=true
AWS_ENDPOINT=

#JWT
JWT_KEY=